#svp-header {
    .navigation-section {
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;

        .uk-container {
            

            .svp-header-socials {
                border-right: 1px solid #ededed;
                display: flex;
                align-items: center;
                border-left: 1px solid #ededed;
                padding: 0 10px;

                a {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    color: #6c757d;
                }
            }
        }
    }



    // Navigation
    .svp-nav-wrapper {
        padding: 0 20px;
        //border-right: 1px solid #ededed;

        .uk-navbar-nav>li>a {
            min-height: 60px;
            font-size: 13px;
        }
    }

    // Search
    .svp-search {

        display: flex;
        align-items: center;

        input {
            border: none;
            outline: none;

            &::placeholder {
                color: #c5c5c5;
                font-size: 14px;
                font-family: var(--headingFont);
            }
        }
    }
}



.layer-film {
    transition: all .2s ease;
}


#svp-article-slider {
    .uk-card-media-top {
        height: 220px;
    }
    
    
    .svp-article-slider-title {
        background-color: rgba(255,255,255,.27);
        font-size: 13px;
        padding: 7px 9px;
        border-radius: 2px;
        backdrop-filter: blur(7px);
        margin: 5% 5%;
        width: 90%;
    }
    
    li {
        &:hover .layer-film {
            background: rgba(0,0,0,0.2);
        }
    }
    
    
    
}

.uk-slidenav {
    top: 85px;
    background: rgba(255,255,255,0.611764705882353);
    border-radius: 100%;
    backdrop-filter: blur(10px);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    
    .uk-slidenav-previous {
        left: 23px;
    }
    
    .uk-slidenav-next {
        right: 23px;
    }

    svg {
        width: 8px;
        height: 18px;
    }
}