* {
    font-family: var(--bodyFont);
}


#svp-header {
    .navigation-section {
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;

        &.uk-sticky.uk-active {
            position: fixed !important;
            top: 0 !important;
            z-index: 999;
        }

        .uk-container {
            

            .svp-header-socials {
                border-right: 1px solid #ededed;
                display: flex;
                align-items: center;
                border-left: 1px solid #ededed;
                padding: 0 10px;

                a {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    color: #6c757d;
                }
            }
        }
    }



    // Navigation
    .svp-nav-wrapper {
        padding: 0 20px;
        //border-right: 1px solid #ededed;

        .uk-navbar-nav>li>a {
            min-height: 60px;
            font-size: 13px;
        }
    }

    // Search
    .svp-search {

        display: flex;
        align-items: center;

        input {
            border: none;
            outline: none;

            &::placeholder {
                color: #c5c5c5;
                font-size: 14px;
                font-family: var(--headingFont);
            }
        }
    }
}



.layer-film {
    transition: all .2s ease;
}


#svp-article-slider {
    .uk-card-media-top {
        height: 220px;
    }
    
    
    .svp-article-slider-title {
        background-color: rgba(255,255,255,.27);
        font-size: 13px;
        padding: 7px 9px;
        border-radius: 2px;
        backdrop-filter: blur(7px);
        margin: 5% 5%;
        width: 90%;
    }
    
    li {
        &:hover .layer-film {
            background: rgba(0,0,0,0.2);
        }
    }
    
    
    
}

.uk-slidenav {
    top: 85px;
    background: rgba(255,255,255,0.611764705882353);
    border-radius: 100%;
    backdrop-filter: blur(10px);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    
    .uk-slidenav-previous {
        left: 23px;
    }
    
    .uk-slidenav-next {
        right: 23px;
    }

    svg {
        width: 8px;
        height: 18px;
    }
}




// Default card style
.svp-default-card {
    box-shadow: inherit;
    border-radius: 4px;
    overflow: hidden;
    
    p, .uk-card-body, .uk-card-body * {
        font-family: var(--bodyFont);
        font-size: 14px;
    }
    
    h1, h2, h3, h4, .uk-card-title {
        font-size: 15px;
        font-weight: bold;
        font-family: var(--headingFont);
    }
    
    .uk-card-media-top {
        position: relative;
        font-family: var(--bodyFont);
        
        img {
            display: block;
            height: 220px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    .link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    
    .svp-card-categories {
        width: 100%;
        background-color: rgb(255 255 255 / 10%);
        backdrop-filter: blur(10px);
    }
}





// pagination
.uk-pagination {
    li {
        position: relative;
        a {
            position: relative;
            width: 20px;
            height: 30px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            font-size: 13px;
            background-color: #f1eef3;
            transition: all .3s ease;
            
            &:hover {
                background-color: var(--primaryColor);
                color: white;
            }
        }
        
        &.uk-active {
            a {
                background-color: var(--primaryColor);
                color: white;
            }
        }
    }
}





// Article
.svp-article-body, .svp-page-body {
    font-size: 15px;
    font-family: var(--bodyFont);
}


#svp-main-sidebar {
    margin-bottom: 130px;
}






// Search results
.svp-search-result {
    
    img {
        width: 90px;
        height: 80px;
    }
    
    &:hover {
        img {
            opacity: .8;
        }
    }
}





// Mobile navigation
#svp-mobile-nav-offcanvas {
    a {
        font-family: var(--bodyFont);
    }
}




// Similar articles
#svp-similar-articles {
    
    margin-bottom: 25px;
    
    li {
        
        img {
            height: 220px;
            width: 100%;
            display: block;
            object-fit: cover;
            border-radius: 4px;
        }
        
        
        a {
            z-index: 9;
        }
    }
}




.min-height {
    min-height: 600px;
}